@use "./variables" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin mobile($size: 640px) {
  @media screen and (max-width: $size) {
    @content;
  }
}

html {
  font-size: 18px;
  // line-height: 1.5;
  font-weight: 300;
  color: #333;
}
.check {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 32%,
    rgba(153, 153, 153, 0.8) 98%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background-attachment: fixed;
}

.price_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.text_content {
  align-items: center;
  .heading {
    width: 100%;
    // margin-left: 1rem;
    @include text-style(50px, 700);
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 0.3em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    color: #212121;

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 60px;
      height: 4px;
      // background: linear-gradient(135deg, adjust-hue(blue, -20deg), blue);
      bottom: 0;
    }
  }
  .description {
    margin-top: 6rem;
    padding-left: 1.5rem;
    @include text-style(24px, 500);
  }
}
.receipt_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.receipt_content {
  width: 380px;
  height: 500px;
  position: relative;
  perspective: 1000px;

  &.flip,
  &:hover {
    .front {
      transform: rotateY(-180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
}

// 바인딩 카드1

.card1 {
  pointer-events: none; // 혹시 hover 이벤트 막고 싶으면 사용
  .front,
  .back {
    transform: none !important;
    position: absolute;
    left: -45%;
    top: 0;
  }
}
.card2 {
  position: absolute;
  top: 0;
  right: -50%;
  transform: rotateY(-8deg); // 또는 rotateX(5deg), rotateZ(2deg) 등 시도해봐
  transition: transform 0.5s ease;
  width: 440px;
}
.card2 .front,
.card2 .back {
  transition: transform 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  transition: transform 0.8s ease;
  background-size: cover;
  background-position: center;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.receipt_content:hover .front {
  transform: rotateY(-180deg);
}

.receipt_content:hover .back {
  transform: rotateY(0deg);
}
//카드 위 3d 아이콘
.icon_content {
  position: absolute;
  top: 0; /* 원하는 위치로 조정 */
  left: 0; /* 필요한 경우 조정 */
  width: 100%; /* receipt_section만큼 채우고 싶을 경우 */
  z-index: 10; /* receipt_section보다 위로 올라가게 */
  pointer-events: none; /* 클릭 방지 (선택 사항) */
  opacity: 0; // 초기에 안 보이게
  transform: translateY(-50px); // 위에서 준비된 위치

  &.show {
    animation: drop-down 0.8s ease forwards;
  }

  span {
    position: absolute;
    width: 130px;
    float: left;
    // display: inline-block;
    img {
      width: 100%;
    }
  }
}
// 각 아이콘 별 위치 이동
.icon1 {
  // left: -235px;
  // top: -70px;
  left: -60%;
  top: -35%;
}
.icon2 {
  width: 50% !important;
  right: -55%;
  top: 0;
}
.icon3 {
  right: -64%;
  top: 210px;
}
.icon4 {
  left: -60%;
  top: 360px;
}
.icon5 {
  right: -57%;
  top: 400px;
}
.icon6 {
  width: 150px !important;
  left: 0;
  top: 332px;
}
.icon7 {
  width: 200px !important;
  right: -25%;
  top: 328px;
}
.icon8 {
  width: 150px !important;
  right: -37%;
  top: 260px;
}
.icon9 {
  width: 150px !important;
  left: 11%;
  top: 263px;
}

// 아이콘 콘텐츠 동적효과
// 1. 애니메이션 정의
@keyframes drop-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// 가격 강조 contents
.price_content {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  position: relative;

  span {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &:first-child {
      @include text-style(50px, 700);
      color: #212121;
      // margin-top: 5%;
    }
    &:last-child {
      font-size: 100px;
      font-weight: 700;
      color: $bingfree-point;
    }
  }
}

// check 상세 페이지
.banner_section {
  width: 100%;
  max-height: 360px;
  margin-top: 80px;
  position: relative;

  img {
    width: 100%;
  }

  // router-link가 button을 감쌀 때
  a {
    display: block;
    width: 250px;
    height: 65px;
    border-radius: 20px;
    border: none;
    background-color: #f7ffbe;
    box-shadow: $main-icon-drop, $main-icon-inner;
    position: absolute;
    bottom: 27%;
    left: 13%;
    text-align: center;

    // 버튼 내부 텍스트 스타일링
    button {
      all: unset; // 버튼 고유 스타일 제거
      display: block;
      width: 100%;
      height: 100%;
      @include text-style(34px, 800);
      color: $bingfree-main;
      font-family: "Pretendard";
      cursor: pointer;
    }

    &:hover {
      background-color: $bingfree-main;

      button {
        color: #f7ffbe;
      }
    }
  }

  span {
    width: 10%;
    display: inline-block;
    position: absolute;
    left: 23%;
    bottom: -5%;
    img {
      width: 100%;
    }
  }
}

.top3_price_section {
  width: 100%;
  .inner {
    .top3_text_content {
      margin: 140px auto;
      text-align: center;
      p {
        color: $sub-black;
        font-family: "NamumSauareL", sans-serif;
        &:first-child {
          @include text-style(50px, 700);
        }
        &:not(:first-child) {
          @include text-style(18px, 400);
        }
        &:nth-child(2) {
          margin-top: 30px;
        }
        &:nth-child(3) {
          margin-top: 13px;
        }
        &:nth-child(4) {
          @include text-style(24px, 700);
          margin-top: 16px;
          color: $bingfree-main;
          span {
            color: $sub-black;
            text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
    // top3 요금제 영역
    h1 {
      @include text-style(36px, 800);
      span {
        color: $bingfree-main;
      }
      .top3_card_content {
        width: 100%;
      }
    }
    .top3_card_content {
      display: flex;
      gap: 72px;

      .top3_card_list {
        width: calc((100% - 144px) / 3);
        border: 3px solid #bdbdbd;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        //카드 호버시
        &:hover {
          border: 3px solid $bingfree-main;
        }

        p {
          color: $sub-black;
          margin-left: 16px;
          margin-bottom: 8px;
        }
        // 요금제 제목
        .price_title {
          @include text-style(26px, 700);
          margin-top: 20px;
        }

        //요금제 상세
        .price_weight {
          display: flex;
          justify-content: space-around;
          margin-top: 8px;
          margin-left: -7%;
          @include text-style(18px, 400);
          color: #757575;
        }
        .description {
          display: flex;
          flex-direction: column;
          gap: 18px;
          margin-top: 30px;
          p {
            color: #4e4e4e;
            line-height: 25px;
            display: flex; // flex로 변환하여 내부 요소 중앙 정렬
            align-items: center; // 세로 중앙 정렬을 위한 핵심
            gap: 6px; // 아이콘과 텍스트 사이 간격

            img,
            span {
              display: inline-block;
              line-height: 1; // line-height 상속에 영향 받지 않도록 리셋
            }
            img {
              margin-right: 5px;
            }
          }
        }
        //총가격
        .entire_price {
          text-align: right;
          margin-right: 40px;
          margin-top: 10px;

          .before-price {
            @include text-style(16px, 400);
            text-decoration: line-through;
            font-family: "NamumSauareL", sans-serif;
            color: #4e4e4e;
            margin-right: 5px;
          }
          .total-price {
            margin-left: 5px;
            @include text-style(22px, 600);
            color: $bingfree-main;
          }
        }
        //버튼
        .buttons {
          display: flex;
          justify-content: center;
          gap: 10px;
          button {
            display: inline-block;
            width: 110px;
            height: 40px;
            @include text-style(16px, 600);
            border-radius: 8px;
            border: 1px solid #4e4e4e;
            margin-top: 10px;
            margin-bottom: 25px;
            &:first-child {
              color: $sub-black;
              background-color: #fff;
            }
            &:last-child {
              border: 2px solid $bingfree-main;
              &:hover {
                border: none;
                background-color: $bingfree-main;
                color: #fff;
                @include text-style(16px, 800);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
//요금제 섹션
.price_section {
  width: 100%;
  // 일반 요금제 큰 섹션
  .ordinary_price_content {
    width: 100%;
    // 요금제 제목
    h1 {
      text-align: center;
      margin-top: 20%;
      margin-bottom: 5%;
      @include text-style(38px, 600);
      color: $sub-black;
      strong {
        font-weight: 600;
        &:last-child {
          color: $bingfree-main;
        }
      }
    }
    //일반 요금제 리스트
    .ordinary_price_list {
      width: 100%;
      img {
        width: 100%;
      }
    }
    //빙프라임 구독 요금제 섹션
    .bingprime_price_content {
      width: 100%;
      h1 {
        text-align: center;
      }
    }
  }
}
