@use "./variables" as *;
.introBing {
  width: 100%;
  max-height: 100vh;
  // background-color: pink;
}
.introBing .inner {
  text-align: center;
}
.main-introBing-txt {
  width: 100%;
  padding-top: 20%;
  color: #212121;
  // background-color: pink;
}
#main-introBing-txt-sub {
  margin: 5%;
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  color: #616161;
}
#main-introBing-txt-sub p {
  margin-top: 1%;
}
// before,after swiper 영역
.mySwiper {
  width: 60%;
  height: 100%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* 이미지 사이 간격 */
  flex-wrap: wrap;
}

.image-section {
  flex: 1;
  text-align: center;
}

.image-section img {
  max-width: 100%;
  // height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caption {
  margin-top: 8px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  background-color: #e5e5e5;
  margin-top: -10px;
  padding: 10px 0 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//swiper button 영역
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 40px; /* 원하는 크기로 조정 */
  height: 40px;
  margin-top: calc(0px - (40px / 2)); /* 사이즈 맞춰 조정 */
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent; /* 기본 아이콘 숨기기 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  outline: none;
  caret-color: transparent; /* 깜빡이는 커서 없애기 */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
/* 깜빡이는 커서 없애기 */
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
  caret-color: transparent;
}
/* 왼쪽 화살표 */
.swiper-button-prev {
  background-image: url("/public/introbing/intromain/6.png");
  left: 10px;
}

/* 오른쪽 화살표 */
.swiper-button-next {
  background-image: url("/public/introbing/intromain/7.png");
  right: 10px;
}
.swiper-button-disabled {
  opacity: 1 !important; /* 투명도 유지 */
  pointer-events: auto !important; /* 클릭 가능하게 */
  cursor: pointer !important; /* 마우스 포인터 유지 */
}
// 푸터txt
#introBing-footer-text {
  margin-top: 5%;
  color: #212121;
}
