@use "./variables" as *;
@use "./fonts" as *;
@use "./main_introbing" as *;
@use "./main_check" as *;
@use "./main_review" as *;
@use "./main_reservation" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: auto;
  font-family: "Pretendard", sans-serif;
}

// a태그
a {
  text-decoration: none;
  &:hover {
    color: $bingfree-main;
  }
}


.inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.side {
  position: fixed;
  bottom: 80px;
  right: 130px;
  z-index: 99999;
  div {
    margin-bottom: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }

    color: #fff;
    text-align: center;
    border-radius: 50%;
    float: right;
    font-size: 30px;
  }

// 왼쪽 사이드 (섹션이동, 더보기)
.sidesection {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  li {
    cursor: pointer;
    list-style: none;
    color: $bingfree-main;
    margin: 5px 0;
    font-weight: 500;
  }
  .viewmore {
    position: relative;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #e9ff54;
    font-size: 20px;
    border: none;
    &:after {
      content: "";
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: block;
      background-color: $bingfree-main;
      position: absolute;
      top: 0%;
      right: 8px;
      z-index: -1;
    }
    &:hover {
      filter: brightness(2);
    }
  }
}
// 메인 비주얼 슬라이드
.visual {
  width: 100%;
  position: relative; // absolute → relative 변경
  .slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .txtbox {
    position: absolute;
    top: 30%;
    left: 17.5%;
    z-index: 99;
    p {
      margin: 10px 0;
    }
  }

  .app {
    position: relative;
    &:after {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: block;
      background-color: $bingfree-point;
      position: absolute;
      top: -70%;
      right: 0;
      z-index: -1;
    }
  }
  .phone {
    position: absolute;
    top: 177.5px;
    left: 695px;
  }
}



section {
  width: 100%;
  height: 100vh;
}
