@use "./variables" as *;
@use "./fonts" as *;
@use "./main_introbing" as *;
@use "./main_check" as *;
@use "./main_review" as *;
@use "./main_reservation" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
// a태그
a {
  text-decoration: none;
}
a:hover {
  color: #1465fd;
}

.inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

// 메인 비주얼 슬라이드
.visual {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative; // absolute → relative 변경
  top: -80px;
}
.slide {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.txtbox {
  position: absolute;
  top: 30%;
  left: 17.5%;
  z-index: 99;
  p {
    margin: 10px 0;
  }
}
.app {
  position: relative;
  &:after {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    background-color: #e9ff54;
    position: absolute;
    top: -70%;
    right: 0;
    z-index: -1;
  }
}
.phone {
  position: absolute;
  top: 195px;
  left: 705px;
}

.side {
  position: fixed;
  bottom: 80px;
  right: 130px;
  z-index: 99999;
  div {
    margin-bottom: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.sideBtn {
  width: 180px;
  height: 80px;
  border: 2px solid #1465fd;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 22px;
  color: #1465fd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    color: #1465fd;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.goTop {
  cursor: pointer;
  width: 80px;
  line-height: 80px;
  background-color: #1465fd;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  float: right;
  font-size: 30px;
}

// 메인 스크롤 이벤트
main {
  position: relative;
}
.fullpage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a,
  span {
    text-decoration: none;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    color: #fff;
    margin-left: 5px;
  }
}

.sections-menu {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  .menu-point {
    // 이게 우리 네브에 들어갈 애들인 거 같음 페이지네이션 ..?
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    margin: 1rem 0;
    opacity: 0.6;
    transition: 0.4s ease-in-out all;
    cursor: pointer;
    &.active {
      opacity: 1;
      transform: scale(1.5);
    }
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
